<h1>Task manager</h1>
<div class="row">
    <div class="col-md-6">
        <form id="addTask" action="#"></form>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Overview list</h3>
            </div>
            <div class="emptyList panel-body">
                <span>You have no tasks...</span>
            </div>

            <ul id="taskList" class="list-group"></ul>
        </div>

        <div id="controls"></div>
    </div>

    <div class="col-md-6">
        <div id="statistic"></div>
    </div>
</div>